fastapi
uvicorn
python-dotenv
langgraph
duckduckgo-search
ddgs

langchain
langchain-huggingface
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langgraph-checkpoint-sqlite
secure-smtplib

sentence-transformers
pypdf
chromadb
tavily-python

